<div class="container">
<h2 class="m-4">報告編集</h2>
    <div class="row justify-content-center">
    <%= form_with model: @report, url: request_report_path(@request.id), method: :patch, local: true do |f| %>
        <div class="form_group row mb-3">
            <label for="report_image" class="col-md-3">報告写真</label>
            <div class="report_image col-md-9">
                <%= f.file_field :report_images, accept: "image/*", multiple: true %>
            </div>
        </div>
        <div class="form_group row mb-3">
            <label for="report_sentence" class="col-md-3">報告文</label>
            <div class="report_sentence col-md-9"><%= f.text_area :report_sentence, size: "50x4" %></div>
        </div>
        <div class="text-center mb-4"><%= f.submit '更新する', class:'btn btn-success' %></div>
    <% end %>
    </div>
</div>